player-connection-mode=Listen
player-connection-guid=3754579782
player-connection-debug=0
player-connection-project-name=Pong
player-connection-ip=192.168.20.4
player-connection-ip=192.168.74.1
player-connection-ip=192.168.180.1
player-connection-ip=172.20.64.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
